@import url('https://fonts.googleapis.com/css2?family=Century+Gothic&display=swap');

.erp-container {
    width: 90%;
    max-width: 1200px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(25px);
    box-shadow: 0 60px 80px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 40px;
    transform-style: preserve-3d;
    transform: rotateX(0deg);
    animation: cinematicSlideIn 2s ease forwards;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px 5px;
}

thead th {
    background: #b980e1;
    color: #fff;
    padding: 10px 20px;
    font-size: 10.5px;
    text-align: left;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
}

tbody tr {
    animation: rowFadeIn 0.5s ease forwards;
    transform: translateY(40px);
    opacity: 0;
}

tbody tr {
    animation-delay: 0.5s;
}

tbody td {
    background: white;
    padding: 10px 20px;
    font-size: 14px;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: all 0.1s ease;
    overflow: hidden;
    text-align: center;
}

tbody tr:hover td {
    transform: scale(1.015);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    background-color: #dfdddd !important;
}

@keyframes cinematicSlideIn {
    0% {
        opacity: 0;
        transform: rotateX(40deg) translateY(100px);
    }

    100% {
        opacity: 1;
        transform: rotateX(0) translateY(0);
    }
}

@keyframes rowFadeIn {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.title-header {
    background-color: #663399 !important;
    text-align: center;
    color: white;
  }