@import url('https://fonts.googleapis.com/css2?family=Century+Gothic&display=swap');

.title-header {
    background-color: #663399;
    text-align: center;
    color: white;
    font-size: 22px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px 5px;
}

thead th {
    background: #b980e1;
    color: #fff;
    padding: 10px 20px;
    font-size: 10.5px;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
}

tbody tr {
    transform: none;
    opacity: 1;
}


tbody td {
    background: white;
    padding: 10px 20px;
    font-size: 14px;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease, color 0.2s ease;
    transform: translateZ(0);
    /* Prevents layout jump when scaling */
}

tr:hover td {
    transform: scale(1.015);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    background-color: #a5e5f8;
    color: black;
}

@keyframes cinematicSlideIn {
    0% {
        opacity: 0;
        transform: rotateX(40deg) translateY(100px);
    }

    100% {
        opacity: 1;
        transform: rotateX(0) translateY(0);
    }
}

.table-responsive {
    margin-bottom: 2px;
    background-color: whitesmoke;
    border-radius: 8px;
    /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); */
    overflow-x: hidden;
}

@media (max-width: 1200px) {
    .table-responsive {
        overflow-x: auto;
    }
}

/* Scrollbar styling */
.table-responsive::-webkit-scrollbar {
    height: 10px;
    /* horizontal scrollbar height */
    border-radius: 8px;
}

.table-responsive::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* track color */
    border-radius: 8px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #E0C3FC, #8EC5FC);
    border-radius: 8px;
}

.table-responsive::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #D4B1F5, #7ABCF9);
}

.table-responsive::-webkit-scrollbar-thumb:active {
    background: linear-gradient(45deg, #C89EF0, #6AB8F6);
}